<section class="pir-results-footer">
    <div class="pir-legend">
        <span>
            {{#if hasImportantProperty}}
            {{localize "PIR.dialog.results.footer.important_property_legend"}}
            {{/if}}
        </span>
    </div>
</section>