<section class="pir-results-footer">
    <div class="pir-legend">
        <span>
            {{#if hasImportantProperty}}
            *property which may prevent certain refresh options
            {{/if}}
        </span>
    </div>
</section>