.pir-table-wrapper {
    display: table;
    width: 100%;
}

.pir-results-container {
    padding-bottom: 10px;
}

.pir-table {
    display: table-row-group;
}

.pir-table-header {
    display: table-row;
    font-weight: bold;
}

.pir-table-row {
    display: table-row;
}

.pir-table-cell {
    display: table-cell;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

/* Odd row color */
.pir-table .pir-table-row:nth-child(even) {
    background-color:rgba(28, 28, 28, 0.05);
}

.pir-legend {
    font-weight: bold;
    font-style: italic;
}
